.radio_box {
    margin: 10px;
    margin-left: -5px;
}
.radio_box p {
    margin-right: 10px;
}
.main_flex {
    display: flex;
}
.btn_box {
    display: none;
}
button {
    display: inline-block;
}
button:first-child {
    margin-right: 5px;
}